<form action="proceed">
    Enter your name:<input type="text,", name="user_name", placeholder="customer name"><br>
    <br>
    Enter the name of your brand:<input type="text", name="brand_name", placeholder="type here"><br>
    <br>
    Enter the name of your product:<input type="text", name="product_name", placeholder="type here"><br>
    <br>
    Enter your review:<input type="text", name="review_text", placeholder="type here"><br>
    <br>
    
    <input type="submit",name="Add your review">
</form>
